
.gameContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    
  }
  
  .str-chat__list {
   border: 2px solid rgb(126, 8, 56);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2px;
    height: 300px;
    font-size: 10px;
    width: 300px;

    overflow: hidden;
    background-color: #f2b7ea;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .str-chat__list ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .str-chat__list li {
    list-style-type: none;
    color: #6a115e;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  
  .str-chat__list .str-chat__message-simple-status {
    display: none;
  }
  
  .str-chat__list .str-chat__avatar {
    display: none;
  }
  
  .str-chat__message-text-inner {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
  }
  
  .str-chat__message-data {
    margin-bottom: 20px;
  }
  .str-chat__message-data span {
    margin-left: 5px;
    display: none;
  }
  
  .str-chat__message-data time {
    margin-left: 5px;
  }
  
  .str-chat__input-flat {
    width: 310px;
    height: 200px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
  }
  
  .str-chat__input-flat-wrapper {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .str-chat__input-flat-wrapper textarea {
    resize: none;
    width: 200px;
    height: 90px;
    border: none;
    background-color: rgb(227, 195, 255);
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgb(138, 7, 106);
    padding: 10px;
    color: #6a115e;
    font-size: 15px;
  }
  
  .str-chat__message-simple__actions {
    width: 100%;
    padding-left: 5px;
    margin-top: 5px;
    
  }
  .str-chat__message-simple__actions__action--reactions {
    display: none;
   
  }
  
  .str-chat__message-reactions-list {
    display: none;
  }
  
  